.media {
	background:#fff;
	 position:relative; 
	 margin-bottom:15px;
	 height: 100%;
	}
.media img{
	width:20em;
	margin:0; 
	height:12.5em;
}
.media-body{
	border:1px 
	solid #bcbcbc; 
	border-left:0; 
	height:12.5em;
}
.media .title{
	float:left; 
	width:100%; 
	font-size:30px;
	font-weight:600; 
	color:#4765AB;
}
.media .title small{
	display:block; 
	font-size:17px; 
	color:#232323;
}
.media .stats{
	float:left; 
	width:100%; 
	}
.media .stats span{
	float:left; 
	margin-right:10px; 
	font-size:15px;
}
.media .stats span i{
	margin-right:7px; 
	color:#4765AB;
}
.media .address{
	float:left;
	 width:100%;
	 font-size:14px; 
	 margin-top:5px; 
	 color:#888;
	}
.media .fav-box{
	position:absolute; 
	right:10px; 
	font-size:20px; 
	top:4px; 
	color:#E74C3C;
}
